<template>
    <div id="block" v-if="showBlock" >
        <button @click="stopTimer">Click me!</button>  
    </div>
</template>

<script>
export default{
  name: 'Block',
  data(){
    return {
      timer: null,
      reactionTime: 0,
      showBlock: false
    }
  },
  methods: {
    startTimer(){
        this.timer = setInterval(() => {
            this.reactionTime += 10;
        }, 10);
    },
    stopTimer(){
        clearInterval(this.timer);
        this.$emit('end', this.reactionTime);
    }
  },
    props: ['delay'],
    emits: ['end'],
    setup(props) {
    // setup() receives props as the first argument.
    console.log(props.delay)
  },
    mounted(){
        setTimeout(() => {
            this.showBlock = true;
            this.startTimer();
        }, this.delay);
    }
}
</script>

<style scoped>
#block {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>


