<template>
    <div>
        <h1>Login</h1>
        <form action="#" @submit.prevent="login">
            <input v-model="email" type="email" placeholder="email" />
            <input v-model="password" type="password" placeholder="Password" />
            <button type="submit">Login</button>
        </form>
    </div> 
</template>

<script>
import axios from 'axios'
import {useCounterStore} from '../stores/index'

 export default {
     data() {
         return {
             email: '',
             password: ''
         }
     },
        methods: {
            login() {
                axios.post('http://localhost:8000/api/auth/login', {
                    email: this.email,
                    password: this.password
                }).then(res => {
                    console.log(res.data)

                }).catch(err => {
                    console.log(err)
                })
        }
        }
 }
</script>